/* src/components/SplashScreen.css */

.splash-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #6b8ef6, #42d0f5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #fff;
}

.splash-content {
    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    align-items: center;
    /* Center horizontally */
    justify-content: center;
    /* Center vertically */
    text-align: center;
    /* gap: 20px; */
    /* Adds space between the elements */
}

.splash-title {
    font-size: 3rem;
    font-weight: bold;
}

.splash-subtitle {
    font-size: 1.5rem;
}

.loader {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-left-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}